@charset "utf-8";
/*
Template Name: Basend
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
File: Layout CSS
*/

@import url("font-awesome.min.css");
@import url("framework.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row1, .row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{}

#header #logo{margin:30px 0 0 0;}
#header #logo h1{margin:0; padding:0; font-size:22px;}


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:140px 0; text-align:center;}

#pageintro > div{display:block; max-width:60%; margin:0 auto;}
#pageintro > div *{line-height:normal;}
#pageintro .heading{margin:0 0 30px 0; padding:0; font-size:4rem; font-weight:700;}
/*#pageintro p{margin:0; font-size:1.2rem; line-height:2rem;}*/
#pageintro footer{margin-top:30px;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

.sectiontitle{display:block; max-width:60%; margin:0 auto 80px; text-align:center;}
.sectiontitle *{margin:0;}

.services{text-align:center;}
.services li article{padding:20px; border:1px solid;}
.services li article *{margin:0; padding:0;}
.services li article i{margin-bottom:20px;}
.services li article .heading{margin-bottom:15px; font-size:1.2rem;}
.services li article p{}

.excerpts{}
.excerpts article{border:1px solid;}
.excerpts article figure{display:block; position:relative;}
.excerpts article figure img{}
.excerpts article figure figcaption{position:absolute; top:10px; left:10px; width:50px;}
.excerpts article figure figcaption *{display:block; margin:0; padding:0; text-align:center; text-transform:uppercase; font-style:normal; line-height:1;}
.excerpts article figure figcaption time{width:100%;}
.excerpts article figure figcaption time strong{padding:12px 0; font-size:18px;}
.excerpts article figure figcaption time em{padding:8px 0;}

/* If the image (figure) has the header (hgroup) immediately after it, the header will be given a bottom border */
.excerpts article figure + .hgroup{border-bottom:1px solid;}

/* If the header (hgroup) has a linked image (figure a) then the link will have an overlay on hover */
.excerpts article .hgroup + figure > a{display:inline-block; position:relative; max-width:100%;}
.excerpts article .hgroup + figure > a::before, .excerpts article .hgroup + figure > a::after{display:block; position:absolute; content:""; text-align:center; opacity:0;}
.excerpts article .hgroup + figure > a::before{top:0; right:0; bottom:0; left:0;}
.excerpts article .hgroup + figure > a::after{top:50%; left:50%; width:50px; height:50px; line-height:50px; margin:-25px 0 0 -25px; content:"\f06e";/* fa-eye */ font-family:"FontAwesome"; font-size:36px;}
.excerpts article .hgroup + figure > a:hover::before, .excerpts article .hgroup + figure > a:hover::after{opacity:1;}

.excerpts article .hgroup, .excerpts article .txtwrap, .excerpts article footer{padding:20px;}
.excerpts article .hgroup, .excerpts article footer{text-align:center;}
.excerpts article .hgroup .heading{margin:0; font-size:1.2rem; text-align:center;}
.excerpts article .hgroup em{display:block; font-size:.8rem; font-style:normal;}
.excerpts article .hgroup .meta{text-align:center;}
.excerpts article .hgroup .meta li{display:inline-block; font-size:.8rem;}
.excerpts article .hgroup .meta li::after{margin-left:5px; content:"/";}
.excerpts article .hgroup .meta li:last-child::after{margin:0; content:"";}
.excerpts article .txtwrap *{margin:0; padding:0;}
.excerpts article footer{border-top:1px solid;}

#stats{text-align:center;}
#stats li *{margin:0; padding:0;}
#stats li i{margin-bottom:30px;}
#stats li p:first-of-type{margin-bottom:15px; text-transform:uppercase;}
#stats li p:last-of-type{font-size:32px; font-weight:700;}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0;}

#footer .heading{margin-bottom:50px; font-size:1.2rem;}

#footer nav{margin-bottom:30px; text-transform:uppercase;}
#footer nav ul{}
#footer nav ul li{display:inline-block; margin-right:20px;}
#footer nav ul li:last-child{margin-right:0;}

#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}

#footer .contact{}
#footer .contact.linklist li, #footer .contact.linklist li:last-child{position:relative; padding-left:40px;}
#footer .contact li *{margin:0; padding:0; line-height:1.6;}
#footer .contact li i{display:block; position:absolute; top:0; left:0; width:30px; font-size:16px; text-align:center;}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}


/* Transition Fade
This gives a smooth transition to "ALL" elements used in the layout - other than the navigation form used in mobile devices
If you don't want it to fade all elements, you have to list the ones you want to be faded individually
Delete it completely to stop fading
--------------------------------------------------------------------------------------------------------------- */
/**, *::before, *::after{
	-moz-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;}*/
#mainav form *{transition:none !important;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{}
#mainav ul.clear{margin-top:3px;}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:30px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:35px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:120px 0 30px;}
#breadcrumb ul{margin:0; padding:0; list-style:none; text-transform:uppercase;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb li a::after{top:3px; right:0; content:"\f101";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:normal;}

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; margin:8px 5px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}
.faico a{display:inline-block; width:36px; height:36px; line-height:36px; font-size:18px; text-align:center;}

.faico a{color:#FFFFFF; background-color:rgba(162,183,13,.5)/* #A2B70D */;}







/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#CBCBCB; background-color:#191919;}
a{color:#A2B70D;}
a:active, a:focus{background:transparent;}

hr, .borderedbox{border-color:#D7D7D7;}
/*label span{color:#FF0000; background-color:inherit;}*/
input:focus, textarea:focus, *:required:focus{border-color:#A2B70D;}
/*.overlay{color:#FFFFFF; background-color:inherit;}*/
/*.overlay::after{color:inherit; background-color:rgba(0,0,0,.4);}*/
.overlay.coloured::after{background-color:#414905;}
.wrapper.row3 a{
	color: #ff0000;
}
.wrapper.row3 a:hover{
	color: #A2B70D;
}
.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#A2B70D; border-color:#A2B70D;}
.btn:hover, .btn.inverse{color:inherit; background-color:white; border-color:inherit;}
.heading-paragraph{
	color: #CBCBCB;
}


	

/* Rows */
.row1{color:#FFFFFF; background-color:rgba(0,0,0,.60);}
.row2{color:#191919; background-color:#F6F6F6;}
.row3{color:#191919; background-color:#FFFFFF;}
.row4{color:#CBCBCB;}
.row5, .row5 a{color:#CBCBCB; background-color:#191919;}


/* Header */
#header #logo a{color:inherit;}


/* Content Area */
.services li article{border-color:#D7D7D7;}
.services li article > a{color:inherit;}
.services li article:hover > a i{color:#A2B70D;}

.excerpts article{border-color:#EDEDED; box-shadow:0px 0px 5px 5px #EDEDED;}/* There is sadly no box-shadow-color, so the full tag is here */
.excerpts article:hover{border-color:#A2B70D; box-shadow:0px 0px 5px 5px rgba(162,183,13,.2)/* #A2B70D */;}

.excerpts article figure figcaption{color:#FFFFFF;}
.excerpts article figure figcaption time strong{color:#414905; background-color:#EDEDED;}
.excerpts article figure figcaption time em{color:#414905; background-color:#DADADA;}
.excerpts article figure + .hgroup, .excerpts article footer{border-color:#EDEDED;}
.excerpts article .hgroup + figure > a{color:inherit;}
.excerpts article .hgroup + figure > a:hover::before{background:rgba(0,0,0,.2);}
.excerpts article .hgroup + figure > a:hover::after{color:#FFFFFF;}


/* Footer */
#footer .heading{color:#FFFFFF;}
#footer hr, #footer .borderedbox, #footer .linklist li{border-color:rgba(255,255,255,.2);}
#footer nav a{color:inherit;}
#footer nav li:first-child a, #footer nav a:hover{color:#A2B70D;}


/* Navigation */
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#A2B70D; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.5); border-color:rgba(0,0,0,.1);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#A2B70D;}
#mainav form select{color:#FFFFFF; background-color:#000000; border-color:rgba(255,255,255,.2);}

#breadcrumb a{color:inherit; background-color:inherit;}
#breadcrumb li:last-child a{color:#A2B70D;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#A2B70D;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#A2B70D;}

#backtotop{color:#FFFFFF; background-color:#A2B70D;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
#comments input:focus, #comments textarea:focus, #comments *:required:focus{border-color:#A2B70D;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


/* ------------------------------------------------------------------------------------------------------------ */
.border{
	text-align:center;
	border-radius: 20%;
	color: tomato;

}

#tiles #hour_timer,#minute_timer,#second_timer{
	padding:10px;
	color: #FFFFFF;
	text-align: center;
	border-radius: 100%;
	border: solid;
	display: block;
	background-color: #000000;
	float: left;


}

	

#timer{
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		float: right;
		margin-top: -5px;
	}

.fl_right.red{
	color: red;
}

.fl_right.green{
	color: green;
}

.fl_right.orange{
	color: orange;
}

.btn.btn-primary.fl_right,.btn.btn-primary.fl_right:hover{
	color: white;
	text-decoration: none;
}
.btn.btn-warning.fl_right,.btn.btn-warning.fl_right:hover{
	color: white;
	text-decoration: none;
	padding: 2px;
}

#start{
	background: purple;
	color: #fff;
	padding:auto;
	border: 2px solid #fff;
}

#start:hover{
	border: 2px solid #000;
	background: transparent;
	color: black;

}



.draggable {
  will-change: transform;
  font-family: "verdana", sans-serif;
  font-weight: 800;
  height: 50px;
  list-style-type: none;
  margin: 2px;
  /*background-color: darkgrey;*/
  color: #0072ff;
  /*color: white;*/
  width: 250px;
  line-height: 3.2;
  padding-left: 10px;
  cursor: move;
  transition: all 200ms;
  user-select: none;
  position: relative;
  border:solid 1px blue;
  stroke: 1px;	
}
.draggable:after {
  overflow: hidden;
  content:'drag to arrange me';
  right: 7px;
  top: 7px;
  font-size: 10px;
  position: absolute;	
  cursor: pointer;
  line-height: 5;
  transition: all 200ms;
  transition-timing-function: cubic-bezier(0.48, 0.72, 0.62, 1.5);
  transform: translateX(120%);
  opacity: 0;

}
.draggable:hover:after {
  opacity: 1;
  transform: translate(0);
}

.over {
  transform: scale(1.1, 1.1);
}
.draggable1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  height: 50px;
  list-style-type: none;
  margin: 2px;
  /*background-color: white;*/
  color: #0072ff;
  width: 250px;
  line-height: 3.2;
  padding-left: 10px;
  position: relative;
  border:solid 1px black;
  border-radius: 10% 50% 50% 10%;
}

.resulttab{
	margin-bottom: 10px;
}

.container.result{
	margin-top: -50px;
}

.glyphicon.glyphicon-ok.green{
	color: green;
}


.sub-question{
	 border: 2px solid red;
	 padding: 5px;
}

#navigation-prev{
	float: left;
}

#navigation-next{
	float: right;
}

.btn.btn-default.pn{
	background-color: red;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	color: white;
}

.btn.btn-default.pn:hover{
	background: transparent;
	color: black;
}

#unanswered-questions span{
	padding: 10px;
	display: inline-block;
	margin-right: 10px;	
	background-color: red;
	border-radius: 100px;
	color: white;
	cursor: pointer;
	border: 1px dotted red;

}
#unanswered-questions span:hover{
	background: transparent;
	color: black;
}
#exam-submit{
	background-color: red;
	color: white;
	float: right;
}

#exam-submit:hover{
	background:transparent;
	color: black;

}

.question{
	color:;
	font-style: bold;
	font-size: 150%;
	font-family:sans-serif;	
}

.one_question{
	padding: 20px;
	margin: 10px;
	font-family:verdana;
	background:rgb(192,192,192,0.5) url('../../images/demo/backgrounds/favicon.png') no-repeat scroll right bottom;
	background-size: 10%;
	border-radius: 20px;
	background-blend-mode:overlay;

}
.mtf{
	display: block;
	overflow:hidden;
}

.subquestions-sn{
	padding: 10px;
}




.heading-paragraph{
	color: white;
}

.btn.btn-default.subjects{
 	width: 100%;
 	overflow:hidden;
 	text-overflow: ellipsis;
 	margin-bottom: 30px;
 	padding: 20px;
 	border-style: outset;
 	
 	}
 .btn.btn-default.subjects:hover{
 	background:#ccc url('../../images/demo/backgrounds/subback.png') no-repeat scroll bottom right;
 	background-size: 20%;
 	background-blend-mode: multiply;
 	 }
 
.btn.btn-default .heading{
	color: orangered;
	font-weight: bold;	
}

.fl_right .footlink, .fl_left .footlink{
	text-decoration:none;
	
	}
.fl_right .footlink:hover, .fl_left .footlink:hover{
	color: #A2B70D;
}

.out-of-time{
	font-weight: bold;
	color: red;
}.btn.btn-default.sublist{
	background-color: red;
}

.btn.btn-default.sets.list{
	background-color: #eae;
	font-weight: bold;
}
.btn.btn-default.sets.list:hover{
 	background:#eaeaaa url('../../images/demo/backgrounds/bee.png') no-repeat scroll bottom right;
 	background-size: 10%;
 	background-blend-mode:darken;
 	 }

.left-border{
	border-left:6px solid red;
	padding: 10px;
	color: green;
	text-decoration: none;
	font-weight: bold;
}

p b{
	margin-left: 100px;
}

.badge{
	
	float: right;
}

.badge.weight-rightans{
	color: white;
	background-color: green;
}
.badge.weight-wrongans{
	color: white;
	background-color: red;
}
.green{
	color: green;
	font-weight: bold;
}


.checkboxes{
	cursor: pointer;
	margin-left: 30px;
	color: #333;
}

input[type="checkbox"]{
	display: none;
} 
.label-text:before{
	content: "\f096";
	font-family: "FontAwesome";
	speak:none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;

}
input:checked + .label-text:before{
	content: "\f14a";
	color: #06a3e9;
	animation-name: tick;
	animation-duration: 300ms;
	animation-fill-mode: all;

}
input:disabled + .label-text:before{
	content: "\f0c8";
	color: #ccc;
	}

input:disabled + .label-text{
		cursor: not-allowed;
	}
@-webkit-keyframes tick{
	0%{
		transform:scale(0);
	}
	

	90%{
		transform:scale(1.8);
	}
	100%{
		transform: scale(1);
	}

}





/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:900px){
	.hoc{max-width:90%;}

	#header{padding:00px 0 00px;}
	/*#header #logo{margin:0;}*/

	/*#mainav{}
	#mainav ul{display:none;}
	#mainav form{display:none;}*/

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}


@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}
	.group .group > *:last-child, .clear .clear > *:last-child, .clear .group > *:last-child, .group .clear > *:last-child{margin-bottom:0;}/* Experimental - Needs more testing in different situations, stops double margin when stacking */

	#header #mainav{float:right;
			}
	#header #logo{float:left;
				}

	.sectiontitle{max-width:none; text-align:left;}
	.excerpts article{max-width:320px;}
	#stats{text-align:left;}

	#footer{padding-bottom:50px;}/* Not needed, just looks better */
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}

	#pageintro{padding:140px 0;}
	#pageintro > div{max-width:none;}
	#pageintro .heading{font-size:2.2rem;}
}

@media print{
	.btn.btn-primary.fl_right{
		display: none;
	}

	.bgded.overlay{
		
		display: none;
	}
	
}

.flag-button.flagged{
	background: #ff0000;
}